 .logo {
     height: 80px;
     width: 80px;
     float: left;
 }
 
 nav {
     top: 0;
     padding: 0 1.8em 0 1.8em;
     position: fixed;
     height: 80px;
     width: 100%;
     background-color: #00a087;
     color: #e8fdff;
     padding: 0, 2em, 0, 2em;
     overflow: hidden;
     z-index: 10;
 }
 
 #nav-bar span.header {
     position: fixed;
     line-height: 1.9;
     padding: 10px;
     font-size: 200%;
 }
 
 .compose {
     border: 1px solid black;
     float: right;
     padding: .8em;
     margin-top: 1.5%;
     margin-right: 7%;
     border-radius: 5px;
     top: 40%;
     background-color: #cdeecd;
     color: #00a087;
 }
 
 .compose:hover {
     background-color: white;
     color: black;
     cursor: pointer;
 }
