.button {
    padding-top: 6px;
    padding-bottom: 6px;
}

.postarea {
    width: 100%;
    height: 100px;
}

.new-tweet {
    width: 90%;
}

section.new-tweet {
    border-radius: 10px;
    background: #eee;
    padding: 7px;
    width: 100%;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.headline {
    padding: 1px;
    margin: 1px;
    border-bottom: 1px solid black
}

textarea#tweetbox {
    padding-top: 2px;
    margin: 6px 0 3px 0;
    width: 100%;
}

span.counter {
    float: right;
    margin: 0 8px 0 0;
    font-size: 70%
}

#submit {
    float: left;
}
